<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="common :: myheader"></div>
</head>
<body>

<div th:replace="common :: navbar (typenav='facture')"></div>


<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <div class="container my-5">
                <h3> Ajouter/mettre à jour une Facture </h3>
                <form sec:authorize="hasRole('ADMIN')" action="#" th:action="@{/facture/createFacture}"
                      method="post">
                        <div class="form-group col-md-10">
                            <label for="client" class="col-form-label">client</label>
                            <select class="form-control col-md-10" id="client" name="client">
                                <option th:each="client : ${clients}"
                                        th:value="${client.id}"
                                        th:utext="${client.nom} + ' ' + ${client.prenom}"
                                        th:selected="(${client.id} == *{Facture?.client?.id})"/>
                            </select>
                        </div>
                        <div class="form-group col-md-10">
                            <label for="adresseFacture" class="col-form-label">adresseFacture</label>
                            <input type="text" th:field="*{Facture.adresseFacture}" class="form-control"
                                   id="adresseFacture" placeholder="adresseFacture" required/>
                        </div>
                        <div class="form-group col-md-5">
                            <label for="date" class="col-form-label">date</label>
                            <input type="date" th:field="*{Facture.date}" class="form-control"
                                   id="date" placeholder="date" required/>
                        </div>
                        <div class="form-group col-md-5">
                            <label for="prix" class="col-form-label">prix</label>
                            <input type="number" th:field="*{Facture.prix}" class="form-control"
                                   id="prix" placeholder="prix" required/>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="payed" class="col-form-label">payed</label>
                            <select class="form-control col-md-10" id="payed" name="payed" required>
                                <option th:each="i: ${#numbers.sequence(0, 1)}"
                                        th:value="${i}"
                                        th:utext="${i == 0} ? 'Non payée' : 'Payée' "
                                        th:selected="(${i} == *{Facture.payed})"/>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Submit ">
                        </div>

                        <input type="hidden" id="id" th:field="*{Facture.id}">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="common :: foot"></div>
</html>