<html>
<body>

<div id="footer" th:fragment="foot">
    <br/>
    <span  style="padding-left:10px;float:center">&copy; Copyright 2021</span>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="/webjars/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/popper.js/1.15.0/popper.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</div>

<div th:fragment="navbar(typenav)">
    <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Documentation Logiciel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li th:class="${typenav} == 'user' ? 'nav-item active'">
                    <a class="nav-link" href="/user">
                        <i class="fa fa-user"></i>
                        User
                    </a>
                </li>
                <li th:class="${typenav} == 'client' ? 'nav-item active'">
                    <a class="nav-link"  href="/client">
                        <i class="fa fa-users"></i>
                        Client
                    </a>
                </li>
                <li th:class="${typenav} == 'facture' ? 'nav-item active'">
                    <a class="nav-link" href="/facture">
                        <i class="fa fa-clipboard"></i>
                        Facture
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/facture/getfacturesunpaid">
                        <i class="fa fa-bell">
                            <span th:text="${session.CountFacturesUnpaid}" class="badge badge-info"></span>
                        </i>
                        Facture(s) non-Payée(s)
                    </a>
                </li>
                <li>
                    <a class="nav-link"  th:href="@{/logout}">
                        <i class="fa fa-sign-out"></i>
                        LogOut
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div th:fragment="myheader">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">

    <title>Documentation Logiciel</title>
</div>


</body>
</html>