<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="common :: myheader"></div>
</head>
<body>

<div th:replace="common :: navbar (typenav='facture') "></div>


<div class="container my-5">

    <div class="card">
        <div class="card-body">
            <div th:switch="${factures}" class="container my-5">
                <h1>Liste des facture(s) non payée(s)</h1><br>
                <div class="col-md-12">
                    <h2 th:case="null">No record found !!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Client</th>
                                <th>adresseFacture</th>
                                <th>date</th>
                                <th>prix</th>
                                <th>payed</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="facture : ${factures}">
                                <td th:text="${facture.id}"></td>
                                <td th:text="${facture.client.nom} + ' ' + ${facture.client.prenom}"></td>
                                <td th:text="${facture.adresseFacture}"></td>
                                <td th:text="${facture.date }"></td>
                                <td th:text="${facture.prix}"></td>
                                <td th:switch="${facture.payed}">
                                    <p th:case="0" style="color:red">Non payée</p>
                                    <p th:case="1" style="color:green">Payée</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="common :: foot"></div>
</html>