<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="common :: myheader"></div>
</head>
<body>

<div th:replace="common :: navbar (typenav='client') "></div>


<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <div th:switch="${clients}" class="container my-5">
                <h1>Liste des clients</h1><br>
                <p sec:authorize="hasRole('ADMIN')" class="my-5">
                    <a href="/client/edit" class="btn btn-success">
                        <i class="fas fa-user-plus ml-2"> Add client </i></a>
                </p>
                <div class="col-md-12">
                    <h2 th:case="null">No record found !!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>code postal</th>
                                <th>ville</th>
                                <th>Numéro de telephone</th>
                                <th>Reference</th>
                                <th sec:authorize="hasRole('ADMIN')">Edit</th>
                                <th sec:authorize="hasRole('ADMIN')">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="client : ${clients}">
                                <td th:text="${client.nom}"></td>
                                <td th:text="${client.prenom }"></td>
                                <td th:text="${client.email}"></td>
                                <td th:text="${client.adrress}"></td>
                                <td th:text="${client.codePostal}"></td>
                                <td th:text="${client.ville}"></td>
                                <td th:text="${client.telephone}"></td>
                                <td th:text="${client.reference}"></td>
                                <td sec:authorize="hasRole('ADMIN')">
                                    <a th:href="@{/client/edit/{id}(id=${client.id})}"
                                       class="btn btn-primary">
                                        <i class="fas fa-user-edit ml-2"></i>
                                    </a>
                                </td>
                                <td sec:authorize="hasRole('ADMIN')">
                                    <a th:href="@{/client/delete/{id}(id=${client.id})}"
                                       class="btn btn-danger">
                                        <i class="fas fa-user-times ml-2"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="common :: foot"></div>
</html>