<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="common :: myheader"></div>
</head>
<body>

<div th:replace="common :: navbar (typenav='facture') "></div>


<div class="container my-5">

    <div class="card">
        <div class="card-body">
            <div th:switch="${factures}" class="container my-5">
                <h1>Liste des factures</h1><br>
                <p sec:authorize="hasRole('ADMIN')" class="my-5">
                    <a href="/facture/edit" class="btn btn-success">
                        <i class="fas fa-user-plus ml-2"> Add facture </i></a>
                </p>
                <div class="col-md-12">
                    <h2 th:case="null">No record found !!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Client</th>
                                <th>adresseFacture</th>
                                <th>date</th>
                                <th>prix</th>
                                <th>payed</th>
                                <th sec:authorize="hasRole('ADMIN')">Edit</th>
                                <th sec:authorize="hasRole('ADMIN')">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="facture : ${factures}">
                                <td th:text="${facture.id}"></td>
                                <td th:text="${facture.client.nom} + ' ' + ${facture.client.prenom}"></td>
                                <td th:text="${facture.adresseFacture}"></td>
                                <td th:text="${facture.date }"></td>
                                <td th:text="${facture.prix}"></td>
                                <td th:switch="${facture.payed}">
                                    <p th:case="0" style="color:red">Non payée</p>
                                    <p th:case="1" style="color:green">Payée</p>
                                </td>
                                <td sec:authorize="hasRole('ADMIN')">
                                    <a th:href="@{/facture/edit/{id}(id=${facture.id})}"
                                       class="btn btn-primary">
                                        <i class="fas fa-user-edit ml-2"></i>
                                    </a>
                                </td>
                                <td sec:authorize="hasRole('ADMIN')">
                                    <a th:href="@{/facture/delete/{id}(id=${facture.id})}"
                                       class="btn btn-danger">
                                        <i class="fas fa-user-times ml-2"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="common :: foot"></div>
</html>