<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="common :: myheader"></div>
</head>
<body>

<div th:replace="common :: navbar (typenav='user') "></div>


<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <div th:switch="${Users}" class="container my-5">
                <h1>Liste des utilisateurs</h1><br>
                <p sec:authorize="hasRole('ADMIN')" class="my-5">
                    <a href="/user/edit" class="btn btn-success">
                        <i class="fas fa-user-plus ml-2"> Add user </i></a>
                </p>
                <div class="col-md-12">
                    <h2 th:case="null">No record found !!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>nom</th>
                                <th>prenom</th>
                                <th>email</th>
                                <th>Username</th>
                                <th>Active</th>
                                <th>Roles</th>
                                <th sec:authorize="hasRole('ADMIN')">Edit</th>
                                <th sec:authorize="hasRole('ADMIN')">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${Users}">
                                <td th:text="${user.nom}"></td>
                                <td th:text="${user.prenom }"></td>
                                <td th:text="${user.email}"></td>
                                <td th:text="${user.userName}"></td>
                                <td th:switch="${user.active}">
                                    <p th:case="true">Activée</p>
                                    <p th:case="false">Désactivé</p>
                                </td>
                                <td th:text="${user.roles}"></td>
                                <td sec:authorize="hasRole('ADMIN')">
                                    <a th:href="@{/user/edit/{id}(id=${user.id})}"
                                       class="btn btn-primary">
                                        <i class="fas fa-user-edit ml-2"></i>
                                    </a>
                                </td>
                                <td sec:authorize="hasRole('ADMIN')">
                                    <a th:href="@{/user/delete/{id}(id=${user.id})}"
                                       class="btn btn-danger">
                                        <i class="fas fa-user-times ml-2"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="common :: foot"></div>
</html>